@model List<DuongLeTienTan_SachOnline.Models.CHUDE>

<div class="sidebar">
    <ul class="list-group">
        <li class="list-group-item active text-center fw-bold">
            <i class="fa fa-book-open"></i> SÁCH THEO CHỦ ĐỀ
        </li>
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a href="@Url.Action("SachTheoChuDe", "Sach", new { id = item.MaCD })" class="text-decoration-none text-dark d-block">
                    <i class="fa fa-angle-right me-2"></i> @item.TenChuDe
                </a>
            </li>
        }
    </ul>
</div>
