<ul class="list-group">
    <li class="list-group-item active" style="font-weight:bold; text-
align:center">SACH THEO CHU ĐE</li>
    <a href="#" class="list-group-item">Ngoai ngu</a>
    <a href="#" class="list-group-item">Cong nghe thong tin</a>
    <a href="#" class="list-group-item">Luat</a>
    <a href="#" class="list-group-item">Van hoc</a>
    <a href="#" class="list-group-item">Khoa hoc ky thuat</a>
    <a href="#" class="list-group-item">Nong nghiệp</a>
    <a href="#" class="list-group-item">Lịch sử, địa lý</a>
    <a href="#" class="list-group-item">Kinh te</a>
    <a href="#" class="list-group-item">Nghe thuat song</a>
</ul>