<div class="sidebar">
    <h5 class="text-center text-uppercase fw-bold mb-3">
        <i class="fa fa-building"></i> SÁCH THEO NHÀ XUẤT BẢN
    </h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#" class="text-decoration-none text-dark d-block">
                <i class="fa fa-angle-right me-2"></i> NXB Trẻ
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-decoration-none text-dark d-block">
                <i class="fa fa-angle-right me-2"></i> NXB Kim Đồng
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-decoration-none text-dark d-block">
                <i class="fa fa-angle-right me-2"></i> NXB GD
            </a>
        </li>
    </ul>
</div>
