<h3 class="text-center">SÁCH BÁN NHIỀU</h3>
<div class="row">
    @for (int i = 1; i <= 6; i += 2)
    {
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <img src="~/Images/sale@i.jpg" class="media-object imgsachbannhieu" />
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm</h4>
                    <p>Mô tả sản phẩm nổi bật đã bán nhiều</p>
                </div>
            </div>
        </div>
    }
</div>
